# Compiled class file
*.class

# IntelliJ Idea project file
.idea/

# Jar file
*.jar

# Environment variables script
.env*

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
